@font-face {
    font-family: 'ecam';
    src: url('Ecam-bold_web.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'barbiereIcons';
    src: url('barbiere-icons.woff');
    src: url('barbiere-icons.woff?#iefix') format ('embedded-opentype'),
            url('barbiere-icons.woff') format ('woff'),
            url('barbiere-icons.woff') format('truetype'),
            url('barbiere-icons.woff') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karbon';
    src: url('karbon-regular-webfont.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'karbon';
    src: url('karbon-semibold-webfont.woff') format('woff');
    font-weight: bold;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4faf8;
}

main {
    background-color: #f4faf8;
    font-family: 'karbon';
    font-weight: normal;
    color: #4d5b68;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    font-family: 'karbon';
}

p {
    line-height: 1.5;
    font-size: 18px;
}

nav {
    min-height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #f4faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-barbiere {
    text-align: center;
    font-family: 'ecam';
    font-size: 20px;
    color: #4d5b68;
    text-decoration: none;
    letter-spacing: .2em;
    margin: 0 20px;
}

.ham {
    height: 45px;
    width: 45px;
    margin: 0 20px;
}

.nav-links {
    text-decoration: none;
    font-size: 18px;
    color: #4d5b68;
    display: none;
}

.header-container {
    width: 100%;
    min-height: 380px;
    background-image: url('BarbiereHeader.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 25%;
    width: 58%;
    margin-bottom: 15px;
    max-height: 100px;
    max-width: 350px;
}


.schedule-button-1 {
    height: 55px;
    width: 243px;
    background-color: #E6F2EE;
    border: none;
    margin-bottom: 0;
    margin-top: 25px;
    font-family: 'karbon';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #4d5b68;
}

.define {
    width: 100%;
    padding: 35px;
    background-color: #E6F2EE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.define p {
    max-width: 450px;
    padding: 20px;
}

#About {
    width: 100%;
    margin-top: 75px;
    background-color: #f4faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-bottom: 75px;
}

hr {
   height: 1px;
   width: 70px;
   border: 2px solid #4d5b68;
   margin: 10px 0;
}

.left {
    font-family: 'karbon';
    font-weight: normal;
    margin: 20px 35px;
    text-align: left;
    height: 100%;
}

address {
    font-family: 'karbon';
    font-weight: normal;
    text-align: left;
    font-size: 18px;
}

.left p {
    font-size: 16.5px;
}

iframe {
    width: 100%;
    border: 0;
    margin-top: 10px;
    max-height: 350px;
    height: 250px;
}

.shop-img img {
    width: auto;
    max-height: 650px;
    margin: 0 25px;
    display: none;
}

.grow-team {
    width: 100%;
    font-family: 'karbon';
    font-weight: 600;
    font-size: 16px;
    background-color: #E6F2EE;
    height: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4px;
}

#Book-Now {
    width: 100%;
    min-height: 380px;
    background-color: #3b4650;
    color: #fff;
    font-family: 'karbon';
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-appointment hr {
    border-color: #fff;
}

.schedule-button-2 {
    padding: 5px;
    margin-top: 25px;
    height: 55px;
    width: 243px;
    border: none;
    font-family: 'karbon';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px; 
    color: #fff;
    font-weight: 500;
    background-color:#2eaddb;
}

.book-appointment a {
    text-decoration: none;
    font
}

#Contact {
    width: 100%;
    margin: 100px auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    margin: 15px auto;
    margin-bottom: 0;
    color: #3b4650;
}

.social a {
    text-decoration: none;
    text-align: center;
    color: inherit;
    margin: 0 0;
}

footer {
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid #efefef;
    color: #aaa;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@media (min-width: 768px) {

.home-barbiere {
    font-size: 30px;
}

.nav-all-links {
    width: 100%;
    position: absolute;
}

.nav-links {
    position: relative;
    right: 0;
    display: inline;
    margin: 0 25px;
    float: right;
}

.ham {
    display: none;
}

.header-container {
    height: 700px;
}

.schedule-button-1 {
    margin-top: 50px;
}
.define {
    padding: 15px;
}

.define p {
    font-size: 24px;
}

.shop-img img {
    max-height: 500px;
    margin: 0 50px;
    display: inherit;
}

.left {
    max-width: 450px;
}

iframe {
    max-width: 450px;
}

.social {
    width: 100%;
    flex-direction: row;
    margin-bottom: 100px;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;

.phone-a {
    margin-left: 10px;
}

.phone-text {
    width: 100px;
}
.social a {
    margin: 0 50px;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

}